# Extract Data from Housing Price Index

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read the data into a Pandas DataFrame
data = pd.ExcelFile("../Resources/HPI_AT_BDL_ZIP5.xlsx")
#Get the sheet names
data.sheet_names

['ZIP5']

In [3]:
# Read in data from zip sheet
HPIdf = pd.read_excel(data, sheet_name = 'ZIP5', header=6)

HPIdf.head()

,Five-Digit ZIP Code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
0,1001,1984,.,100.00,53.37,52.31
1,1001,1985,16.00,116.00,61.91,60.68
2,1001,1986,14.21,132.48,70.70,69.30
3,1001,1987,21.08,160.41,85.61,83.90
4,1001,1988,17.63,188.68,100.69,98.69

In [4]:
HPIdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630578 entries, 0 to 630577
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Five-Digit ZIP Code  630578 non-null  int64
 1   Year                 630578 non-null  int64
 2   Annual Change (%)    630578 non-null  object
 3   HPI                  630578 non-null  object
 4   HPI with 1990 base   630578 non-null  object
 5   HPI with 2000 base   630578 non-null  object
dtypes: int64(2), object(4)
memory usage: 28.9+ MB

In [5]:
HPIdf = HPIdf[HPIdf.Year == 2017]
HPIdf.count()

Five-Digit ZIP Code    18911
Year                   18911
Annual Change (%)      18911
HPI                    18911
HPI with 1990 base     18911
HPI with 2000 base     18911
dtype: int64

# Loading Zip & Track cross walk from HUD

In [6]:
data = pd.ExcelFile("../Resources/ZIP_TRACT_122021.xlsx")
#Get the sheet names
data.sheet_names

['SQLT0006']

In [7]:
# Read in data from SQLT0006 sheet
zipdf = pd.read_excel(data, sheet_name = 'SQLT0006', header=0)

zipdf.head()

,zip,tract,usps_zip_pref_city,usps_zip_pref_state,res_ratio,bus_ratio,oth_ratio,tot_ratio
0,683,72023830102,SAN GERMAN,PR,0.000791,0.001116,0.000000,0.000800
1,683,72125840700,SAN GERMAN,PR,0.186219,0.370536,0.381643,0.201179
2,683,72125840400,SAN GERMAN,PR,0.300451,0.187500,0.115942,0.290308
3,683,72125840600,SAN GERMAN,PR,0.095325,0.007812,0.000000,0.088184
4,683,72121960300,SAN GERMAN,PR,0.042402,0.002232,0.019324,0.039435

In [8]:
zipdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172177 entries, 0 to 172176
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   zip                  172177 non-null  int64
 1   tract                172177 non-null  int64
 2   usps_zip_pref_city   172177 non-null  object
 3   usps_zip_pref_state  172177 non-null  object
 4   res_ratio            172177 non-null  float64
 5   bus_ratio            172177 non-null  float64
 6   oth_ratio            172177 non-null  float64
 7   tot_ratio            172177 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 10.5+ MB

### Reading in the 500 city data to limit tracts of interest

In [9]:
# Bringing in 500 city data to generate unique list of cities
city_file_path = "../ProcessedData/500_City_cleaned.csv"
citydf = pd.read_csv(city_file_path)
citydf.head()

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,Population2010,Insurance,HighBloodPressure,Cancer,Asthma,HeartDisease,AnnualCheckUps,Smokes,MentalHealthIssues,Latitude,Longitude,newFIPS,CountyFIPS
0,AL,Birmingham,107000,1073003200,0107000-01073003200,931.0,26.8,57.0,6.0,14.4,11.1,78.2,29.6,22.0,33.509402,-86.885908,1073,1073
1,AL,Birmingham,107000,1073003300,0107000-01073003300,947.0,21.4,55.2,6.8,12.9,9.7,80.1,22.6,16.7,33.517126,-86.891382,1073,1073
2,AL,Birmingham,107000,1073010500,0107000-01073010500,114.0,23.9,60.5,7.1,13.6,11.1,80.7,26.5,18.6,33.436379,-86.912892,1073,1073
3,AL,Birmingham,107000,1073010701,0107000-01073010701,74.0,19.8,24.9,2.7,11.2,2.4,66.2,18.1,16.1,33.473886,-86.814649,1073,1073
4,AL,Birmingham,107000,1073010801,0107000-01073010801,168.0,7.3,33.0,7.4,8.9,4.5,73.7,8.5,8.8,33.514098,-86.746697,1073,1073

In [10]:
FIPS_want = citydf['TractFIPS'].unique().tolist()

In [11]:
newdf = zipdf[zipdf.tract.isin(FIPS_want)]
newdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3288 entries, 52 to 172119
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   zip                  3288 non-null   int64
 1   tract                3288 non-null   int64
 2   usps_zip_pref_city   3288 non-null   object
 3   usps_zip_pref_state  3288 non-null   object
 4   res_ratio            3288 non-null   float64
 5   bus_ratio            3288 non-null   float64
 6   oth_ratio            3288 non-null   float64
 7   tot_ratio            3288 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 231.2+ KB

## Combine Housing data with zip-track crosswalk limiting to those that match

In [12]:
house = HPIdf.merge(newdf, right_on='zip', left_on = 'Five-Digit ZIP Code' , how='inner') 

house.head()

,Five-Digit ZIP Code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base,zip,tract,usps_zip_pref_city,usps_zip_pref_state,res_ratio,bus_ratio,oth_ratio,tot_ratio
0,2121,2017,.,351.58,.,298.13,2121,25025980300,DORCHESTER,MA,0.000000,0.004193,0.000000,0.000150
1,2124,2017,10.25,793.09,325.64,227.62,2124,25025980300,DORCHESTER CENTER,MA,0.000000,0.000953,0.000000,0.000041
2,2126,2017,8.00,700.95,269.44,212.36,2126,25025981100,MATTAPAN,MA,0.022267,0.015652,0.008054,0.020094
3,2127,2017,8.66,759.60,451.67,253.91,2127,25025981202,SOUTH BOSTON,MA,0.000525,0.109336,0.006294,0.006788
4,2128,2017,13.90,425.21,329.31,270.04,2128,25025981300,EAST BOSTON,MA,0.016983,0.159040,0.009597,0.023243

In [13]:
house.drop(['Five-Digit ZIP Code'], axis = 1)
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2879 entries, 0 to 2878
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Five-Digit ZIP Code  2879 non-null   int64
 1   Year                 2879 non-null   int64
 2   Annual Change (%)    2879 non-null   object
 3   HPI                  2879 non-null   object
 4   HPI with 1990 base   2879 non-null   object
 5   HPI with 2000 base   2879 non-null   object
 6   zip                  2879 non-null   int64
 7   tract                2879 non-null   int64
 8   usps_zip_pref_city   2879 non-null   object
 9   usps_zip_pref_state  2879 non-null   object
 10  res_ratio            2879 non-null   float64
 11  bus_ratio            2879 non-null   float64
 12  oth_ratio            2879 non-null   float64
 13  tot_ratio            2879 non-null   float64
dtypes: float64(4), int64(4), object(6)
memory usage: 337.4+ KB

In [14]:
# Saving Cleaned data into csv
output_file_path = "../ProcessedData/HousingPriceIndex2017.csv"
house.to_csv(output_file_path, index=False)

end of code